<%= link_to 'back', dashboard_path %>

<div class="animals">

  <div class="mini">
    <h3>Chat</h3>
    <%= image_tag'' %>
    <h3>Cat</h3>
  </div>
  <div class="mini">
    <h3>Chien</h3>
    <%= image_tag'' %>
    <h3>Dog</h3>
  </div>
  <div class="mini">
    <h3>Poisson</h3>
    <%= image_tag'' %>
    <h3>Fish</h3>
  </div>
  <div class="mini">
    <h3>Souris</h3>
    <%= image_tag'' %>
    <h3>Mouse / Mice</h3>
  </div>
  <div class="mini">
    <h3>Ours</h3>
    <%= image_tag'' %>
    <h3>Bear</h3>
  </div>
  <div class="mini">
    <h3>Cheval</h3>
    <%= image_tag'' %>
    <h3>Horse</h3>
  </div>
  <div class="mini">
    <h3>Vache</h3>
    <%= image_tag'' %>
    <h3>Cow</h3>
  </div>
  <div class="mini">
    <h3>Cochon</h3>
    <%= image_tag'' %>
    <h3>Pig</h3>
  </div>
  <div class="mini">
    <h3>Mouton</h3>
    <%= image_tag'' %>
    <h3>Sheep</h3>
  </div>
  <div class="mini">
    <h3>Elephant</h3>
    <%= image_tag'' %>
    <h3>elephant</h3>
  </div>
  <div class="mini">
    <h3>Lion</h3>
    <%= image_tag'' %>
    <h3>Lion</h3>
  </div>
  <div class="mini">
    <h3>Ecureuil</h3>
    <%= image_tag'' %>
    <h3>Squirel</h3>
  </div>



</div>
