<br><br><%= link_to 'back', dashboard_path, class:'back' %>
<br><br>


<div class="colors">

  <div class="mini">
    <h3>Rouge</h3>
    <h3>Red</h3>
    <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1668866680/Kidenglish/Sans_titre_-_2022-11-19T150430.910_mhs91u.png", width:200 %>
  </div>
  <div class="mini">
    <h3>Bleu</h3>
    <h3>Blue</h3>
    <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1668866330/Kidenglish/Sans_titre_-_2022-11-19T145656.008_dl4vxs.png", width:200 %>
  </div>
  <div class="mini">
    <h3>Jaune</h3>
    <h3>Yellow</h3>
    <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1668866330/Kidenglish/Sans_titre_-_2022-11-19T145706.625_qrklfh.png", width:200 %>
  </div>
  <div class="mini">
    <h3>Vert</h3>
    <h3>Green</h3>
    <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1668866454/Kidenglish/Sans_titre_-_2022-11-19T145922.554_smaei1.png", width:200 %>
  </div>
  <div class="mini">
    <h3>Violet</h3>
    <h3>Purple</h3>
    <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1668866331/Kidenglish/Sans_titre_-_2022-11-19T145642.409_olrqd9.png", width:200 %>
  </div>
  <div class="mini">
    <h3>Orange</h3>
    <h3>Orange</h3>
    <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1668866330/Kidenglish/Sans_titre_-_2022-11-19T145714.763_sjp2cx.png", width:200 %>
  </div>
  <div class="mini">
    <h3>Blanc</h3>
    <h3>White</h3>
    <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1668866454/Kidenglish/Sans_titre_-_2022-11-19T150038.158_uy6f2j.png", width:200 %>
  </div>
  <div class="mini">
    <h3>Gris</h3>
    <h3>Gray/h3>
    <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1668866331/Kidenglish/Sans_titre_-_2022-11-19T145628.515_qpg4p6.png", width:200 %>
  </div>
  <div class="mini">
    <h3>Noir</h3>
    <h3>Black</h3>
    <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1668866331/Kidenglish/Sans_titre_-_2022-11-19T145613.595_sx1zmb.png", width:200 %>
  </div>
  <div class="mini">
    <h3>Rose</h3>
    <h3>Pink</h3>
    <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1668866330/Kidenglish/Sans_titre_-_2022-11-19T145720.904_m6c5au.png", width:200 %>
  </div>
  <div class="mini">
    <h3>Marron</h3>
    <h3>Brown</h3>
    <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1668866329/Kidenglish/Sans_titre_-_2022-11-19T145802.379_zkmepv.png", width:200 %>
  </div>



</div>
