<div class="dashboard">

  <div class="up">
    <div class="nav">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "https://res.cloudinary.com/dhxefoe7j/image/upload/v1668800961/Kidenglish/kigEnglish_Logo_kp0bx7.png", width:40 %>
      <% end %>
    </div>

    <div class="what">
      <h1>What do you want to learn ?</h1>
    </div>
  </div>



  <div class="dashbox">

    <div class="banner">
      <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1668804765/Kidenglish/kidbanner_cut_yj13hk.png', width:'100%' %>
    </div>

    <div class="dashgrid">

      <div class="card">

      </div>




    </div>
  </div>



</div>




<%= link_to "activities", activities_path %>
<%= link_to "animals", animals_path %>
<%= link_to "body", body_path %>
<%= link_to "clothes", clothes_path %>
<%= link_to "colors", colors_path %>
<%= link_to "family", family_path %>
<%= link_to "food", food_path %>
<%= link_to "fruits", fruits_path %>
<%= link_to "house", house_path %>
<%= link_to "letters", letters_path %>
<%= link_to "music", music_path %>
<%= link_to "nature", nature_path %>
<%= link_to "numbers", numbers_path %>
<%= link_to "school", school_path %>
<%= link_to "sports", sports_path %>
<%= link_to "vegetables", vegetables_path %>
<%= link_to "vehicules", vehicules_path %>
