<br><br>
<%= link_to 'Retour', dashboard_path, class:"back" %>
<br><br>
<div class="letters">

  <div class="mini">
    <h3> <%= link_to "A","#" %> </h3>
  </div>
  <div class="mini">
    <h3> <%= link_to"B", "#" %> </h3>
  </div>
  <div class="mini">
    <h3><%= link_to"C", "#" %></h3>
  </div>
  <div class="mini">
    <h3><%= link_to"D", "#" %></h3>
  </div>
  <div class="mini">
    <h3><%= link_to"E", "#" %></h3>
  </div>

  <div class="mini">
    <h3><%= link_to"F", "#" %></h3>
  </div>
  <div class="mini">
    <h3><%= link_to"G", "#" %></h3>
  </div>
  <div class="mini">
    <h3><%= link_to"H", "#" %></h3>
  </div>
  <div class="mini">
    <h3><%= link_to"I", "#" %></h3>
  </div>
  <div class="mini">
    <h3><%= link_to"J", "#" %></h3>
  </div>
  <div class="mini">
    <h3><%= link_to"K", "#" %></h3>
  </div><div class="mini">
    <h3><%= link_to"L", "#" %></h3>
  </div>
  <div class="mini">
    <h3><%= link_to"M", "#" %></h3>
  </div>
  <div class="mini">
    <h3><%= link_to"N", "#" %></h3>
  </div>
  <div class="mini">
    <h3><%= link_to"O", "#" %></h3>
  </div>
  <div class="mini">
    <h3><%= link_to"P", "#" %></h3>
  </div>
  <div class="mini">
    <h3><%= link_to"Q", "#" %></h3>
  </div>

  <div class="mini">
    <h3><%= link_to"R", "#" %></h3>
  </div><div class="mini">
    <h3><%= link_to"S", "#" %></h3>
  </div>
  <div class="mini">
    <h3><%= link_to"T", "#" %></h3>
  </div>

  <div class="mini">
    <h3><%= link_to"U", "#" %></h3>
  </div><div class="mini">
    <h3><%= link_to"V", "#" %></h3>
  </div>
  <div class="mini">
    <h3><%= link_to"W", "#" %></h3>
  </div>
  <div class="mini">
    <h3><%= link_to"X", "#" %></h3>
  </div>

  <div class="mini">
    <h3><%= link_to"Y", "#" %></h3>
  </div><div class="mini">
    <h3><%= link_to"Z", "#" %></h3>
  </div>




</div>
