<br><br><%= link_to 'Retour', dashboard_path, class:"back" %>
<br><br>
<div class="numbers">

  <div class="mini">
    <h3>Un</h3>
    <h3>One</h3>
    <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1668855070/Kidenglish/Sans_titre_-_2022-11-19T114927.514_mpec42.png", width:120 %>
  </div>
  <div class="mini">
    <h3>Deux</h3>
    <h3>Two</h3>
    <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1668855070/Kidenglish/Sans_titre_-_2022-11-19T114801.569_hbhjwq.png", width:120 %>
  </div>
  <div class="mini">
    <h3>Trois</h3>
    <h3>Three</h3>
    <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1668855070/Kidenglish/Sans_titre_-_2022-11-19T114853.797_riyxj4.png", width:120 %>
  </div>
  <div class="mini">
    <h3>Quatre</h3>
    <h3>Four</h3>
    <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1668855071/Kidenglish/Sans_titre_-_2022-11-19T114831.742_jshmxv.png", width:120 %>
  </div>
  <div class="mini">
    <h3>Cinq</h3>
    <h3>Five</h3>
    <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1668855070/Kidenglish/Sans_titre_-_2022-11-19T115047.576_lvnhe7.png", width:120 %>
  </div>
  <div class="mini">
    <h3>Six</h3>
    <h3>Six</h3>
    <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1668855070/Kidenglish/Sans_titre_-_2022-11-19T115003.955_e29kqi.png", width:120 %>
  </div>
  <div class="mini">
    <h3>Sept</h3>
    <h3>Seven</h3>
    <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1668855070/Kidenglish/Sans_titre_-_2022-11-19T114909.910_b2vzip.png", width:120 %>
  </div>
  <div class="mini">
    <h3>Huit</h3>
    <h3>Eight</h3>
    <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1668855071/Kidenglish/Sans_titre_-_2022-11-19T114719.571_mj7ag5.png", width:120 %>
  </div>
  <div class="mini">
    <h3>Neuf</h3>
    <h3>Nine</h3>
    <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1668855070/Kidenglish/Sans_titre_-_2022-11-19T114736.032_j5ch0b.png", width:120 %>
  </div>
  <div class="mini">
    <h3>Zero</h3>
    <h3>Zero</h3>
    <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1668855162/Kidenglish/Sans_titre_-_2022-11-19T115233.538_zbruqp.png", width:120 %>
  </div>
</div>

<%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1668867412/Kidenglish/Sans_titre_-_2022-11-19T114302.358_d2vqqh.png' %>
