<br><br><%= link_to 'back', dashboard_path, class:'back' %>
<br><br>

<div class="shapes">

  <div class="mini">
    <h3>Rond</h3>
    <h3>Circle</h3>
    <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1668865523/Kidenglish/Sans_titre_-_2022-11-19T144152.699_zjt3oy.png", width:200 %>
  </div>
  <div class="mini">
    <h3>Carré</h3>
    <h3>Square</h3>
    <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1668865524/Kidenglish/Sans_titre_-_2022-11-19T144333.080_ygf5bl.png", width:200 %>
  </div>
  <div class="mini">
    <h3>Triangle</h3>
    <h3>Triangle</h3>
    <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1668865523/Kidenglish/Sans_titre_-_2022-11-19T144236.387_e6dktd.png", width:200 %>
  </div>
  <div class="mini">
    <h3>Cube</h3>
    <h3>"Kioube"</h3>
    <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1668865523/Kidenglish/Sans_titre_-_2022-11-19T144424.482_j7uhf8.png", width:200 %>
  </div>


</div>
